.container_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 50px;
}

.container_cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, .25);
    box-shadow: 5px 5px 5px rgba(22, 22, 22, .15);
    min-height: 120px;
    max-height: 120px;
    border-radius: .5rem;
    transition: all .15s ease;
}

.container_cards .card svg {
    font-size: 3.5rem;
}

.container_cards .card.icon_html:hover {
    border-color: #FF5722;
    box-shadow: 0px 0px 15px rgba(255, 87, 34, .5);
}

.container_cards .card.icon_css:hover {
    border-color: #264DE4;
    box-shadow: 0px 0px 15px rgba(38, 77, 228, .5);
}

.container_cards .card.icon_javascript:hover {
    border-color: #F7E018;
    box-shadow: 0px 0px 15px rgba(247, 224, 24, .5);
}

.container_cards .card.icon_react:hover {
    border-color: #61DBFB;
    box-shadow: 0px 0px 15px rgba(97, 219, 251, .5);
}

.container_cards .card.icon_php:hover {
    border-color: #4F5B93;
    box-shadow: 0px 0px 15px rgba(79, 91, 147, .5);
}

.container_cards .card.icon_bootstrap:hover {
    border-color: #8A0BFC;
    box-shadow: 0px 0px 15px rgba(138, 11, 252, .5);
}

.container_cards .card.icon_tailwind:hover {
    border-color: #38BDF8;
    box-shadow: 0px 0px 15px rgba(56, 189, 248, .5);
}

.container_cards .card.icon_nodejs:hover {
    border-color: #90C53F;
    box-shadow: 0px 0px 15px rgba(144, 197, 63, .5);
}

.container_cards .card.icon_mysql:hover {
    border-color: #4479A1;
    box-shadow: 0px 0px 15px rgba(68, 121, 161, .5);
}

.container_cards .card.icon_grafana:hover {
    border-color: #F8B91E;
    box-shadow: 0px 0px 15px rgba(248, 185, 30, .5);
}

.container_cards .card.icon_asterisk:hover {
    border-color: #F68F1E;
    box-shadow: 0px 0px 15px rgba(246, 143, 30, .5);
}

.container_cards .card.icon_bash:hover {
    border-color: #FFF;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, .5);
}

.container_cards .card.icon_centos:hover {
    border-color: #941D7A;
    box-shadow: 0px 0px 15px rgba(148, 29, 122, .5);
}

@media (max-width: 1024px) {
    .container_cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}