.container_main {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_main .container_title {
    display: flex;
}

.container_main h1:last-child {
    color: var(--gold);
}

.container_main h2 {
    position: relative;
}

.container_main h2::after {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2px;
    position: absolute;
    border-radius: .375rem;
    background-color: var(--gold);
}

@media (max-width: 768px) {
    .container_main {
        min-height: calc(100dvh - 40px);
    }

    .container_main .container_title {
        flex-direction: column;
    }

    .container_main .container_title h1 {
        font-size: 5rem;
    }

    .container_main h2 {
        font-size: 1.5rem;
    }
}
